@import '../variables/color';
@import '../variables/typography';

*, :after, :before {
  box-sizing: border-box;
}

html {
  line-height: $lineHeight-normal;
  font-size: $fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body-primary !important;
  font-size: $fontSize-1;
  color: $black;
}

hr {
  background-color: $color-accent;
  height: 1px;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  margin-top: $spacing-12;
  margin-bottom: $spacing-6;
  line-height: $lineHeight-tight;
  letter-spacing: -0.025em;
}

h2, h3, h4, h5, h6 {
  font-weight: $fontWeight-bold;
  color: $color-heading;
}

h1 {
  font-weight: $fontWeight-black;
  font-size: $fontSize-6;
  color: $color-heading-black;
}

h2 {
  font-size: $fontSize-5;
}

h3 {
  font-size: $fontSize-4;
}

h4 {
  font-size: $fontSize-3;
}

h5 {
  font-size: $fontSize-2;
}

h6 {
  font-size: $fontSize-1;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: $lineHeight-relaxed;
  --baseline-multiplier:0.179;
  --x-height-multiplier:0.35;
  margin: $spacing-0 $spacing-0 $spacing-8 $spacing-0;
  padding: $spacing-0;
}

b {
  font-weight: bold;
}

ul, ol {
  margin-left: $spacing-0;
  margin-right: $spacing-0;
  padding: $spacing-0;
  margin-bottom: $spacing-8;
  list-style-position: outside;
  list-style-image: none;
}

ul li, ol li {
  padding-left: $spacing-0;
  margin-bottom: $spacing-8;
}

li {
  > p {
    margin-bottom: $spacing-8;
  }

  *:last-child {
    margin-bottom: $spacing-0;
  }

  > ul {
    margin-left: $spacing-8;
    margin-top: calc($spacing-8) / 2;
  }
}

blockquote {
  color: $color-text-light;
  margin-left: calc(-1 * $spacing-6);
  margin-right: $spacing-8;
  padding: $spacing-0 $spacing-0 $spacing-0 $spacing-6;
  border-left: $spacing-1 solid $color-primary;
  font-size: $fontSize-2;
  font-style: italic;
  margin-bottom: $spacing-8;

  > {
    :last-child {
      margin-bottom: $spacing-0;
    }

    ul, ol {
      list-style-position: inside;
    }
  }
}

table {
  width: 100%;
  margin-bottom: $spacing-8;
  border-collapse: collapse;
  border-spacing: 0.25rem;

  thead tr th {
    border-bottom: 1px solid $color-accent;
  }
}

a {
  color: $color-primary;

  &:hover, &:focus {
    text-decoration: none;
  }
}
