@import "../variables/color";

$numOfBlobs: 4;

.btn-bloby {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius:30px;

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $border-w solid $color-primary;
    border-radius:30px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $border-w *1.5;
    top: $border-w * 1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius:30px;
  }

  &:hover {
    color: $white;
    border-radius:30px;

    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius:30px;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:30px;
    background-color: $white;
  }

  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }

  &__boba {
    position: absolute;
    top: $border-w;
    width: calc(100% / $numOfBlobs);
    height: 100%;
    background-color: $color-primary;
    border-radius: 100%;
    transform: translate3d(0, 150% ,0) scale(1.7);
    transition: transform 0.45s;

    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: calc($i - 1) * calc(95% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .btn-bloby:hover & {
      transform: translateZ(0) scale(1.7);

      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
}
