@import "./vendors/twbs";
@import "./variables/color.scss";
@import "./variables/spacing.scss";
@import "./variables/typography.scss";

@import "./layout/reset.scss";
@import "./layout/layout";
@import "./layout/layout-blog";
@import "./layout/link";
@import "./layout/footer";

@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./components/buttons.scss";
@import "./components/avatar-wobble.scss";
@import "./components/bio.scss";
@import "./components/timelines.scss";
@import "./components/skills.scss";

@import "./pages/about.scss";
@import "./pages/portofolio.scss";

@import "./utils/animate/transform-text.scss";
