@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-3px);
  }
  40%, 80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake:hover {
  animation: shake 0.5s ease-in-out infinite;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
