$fontSize-0: 0.833rem;
$fontSize-1: 1rem;
$fontSize-2: 1.2rem;
$fontSize-3: 1.44rem;
$fontSize-4: 1.728rem;
$fontSize-5: 2.074rem;
$fontSize-6: 2.488rem;
$fontSize-7: 2.986rem;

$font-family-overpas-serif: 'Overpass Mono Variable', sans-serif;
$font-body-primary: $font-family-overpas-serif;
$fontHeading: $font-family-overpas-serif;
$fontWeight-normal: 400;
$fontWeight-bold: 700;
$fontWeight-black: 900;
$fontSize-root: 16px;
$lineHeight-none: 1;
$lineHeight-tight: 1.1;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;

$font-heading: $font-family-overpas-serif;
